.icone {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 15px;
  grid-gap: 5px;
}

.icone0 {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 15px;
  grid-gap: 5px;
  height: 17px;
}
.icone1 {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 15px;
  grid-gap: 5px;
  height: 19px;
}
.tabelaEmprestimos {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.tabelaEmprestimos th {
  background-color: #f1f1f1;
  text-align: center;
  padding: 8px;
}

.tabelaEmprestimos td {
  background-color: #fafafa;
  border-bottom: 1px solid #dcdcdc;
  padding: 8px;
  text-align: center;
}
