.status {
  padding: 8px;
  border-radius: 24px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  width: 150px;
}

.emAndamento,
.devolvido,
.disponivel {
  background-color: #4CAF50;
  /* Verde */
  color: white;
}

.extraviada,
.emprestada,
.extraviado,
.atrasado,
.indisponivel {
  background-color: #E53935;
  /* Vermelho */
  color: white;
}

/* Caso o status não seja encontrado */
.default {
  background-color: #bdc3c7;
  /* Cinza */
  color: black;
}