.status {
  padding: 10px;
  border-radius: 24px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  width: 120px;
}

.devolvido,
.disponivel {
  background-color: #4CAF50;
  /* Verde */
  color: white;
}

.extraviado,
.atrasado,
.indisponivel {
  background-color: #E53935;
  /* Vermelho */
  color: white;
}

.pendente {
  background-color: #f1c40f;
  /* Amarelo */
  color: black;
}

/* Caso o status não seja encontrado */
.default {
  background-color: #bdc3c7;
  /* Cinza */
  color: black;
}